*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul, li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

div, img, button, input, textarea, select {
  outline: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a img {
  border: none;
}
.t-c{ text-align: center; }
.pointer,
button {
  cursor: pointer;
}
.anim{transition:all 0.3s linear 0s;}
.nope{ pointer-events: none; }
.sticky{ position: sticky; }
.fixed {
  position: fixed;
}
.ass{align-self: flex-start;}
.fixed.fill,
.abs.fill{
  top: 0px;left: 0px;right: 0px;bottom: 0px;
}
.rel{ position: relative; }
.abs{ position: absolute; }
.abc{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.block {
  display: block;
}
.hidden{ display: none !important; }
.iblock {
  display: inline-block;
}

.tdn {
  text-decoration: none;
}

.tdh:hover {
  text-decoration: underline;
}

.cprimary, .color {
  color: var(--primary-color);
}

.primary {
  background-color: var(--primary-color);
}

.tdnh, .tdn {
  text-decoration: none;
}

.tdnh:hover {
  text-decoration: underline;
}

.nous{ user-select: none; }
.flex {
  display: flex;
}
.flex.col{ flex-direction: column;}
.flex.ass {
  align-self: flex-start;
}
.flex.asc {
  align-self: center;
}
.flex.ase {
  align-self: flex-end;
}
.flex.ais {
  align-items: flex-start;
}
.flex.aic {
  align-items: center;
}
.flex.aie {
  align-items: flex-end;
}
.flex.jcs {
  justify-content: flex-start;
}
.flex.jcc {
  justify-content: center;
}
.flex.jce {
  justify-content: flex-end;
}
.flex.jcb {
  justify-content: space-between;
}

/*
    COLORS
    It will generate .cfff { color: #fff; } from 'fff'
*/
.cfff {
  color: #fff;
}

.c111 {
  color: #111;
}

.c222 {
  color: #222;
}

.c333 {
  color: #333;
}

.c444 {
  color: #444;
}

.c555 {
  color: #555;
}

.c666 {
  color: #666;
}

.c777 {
  color: #777;
}

.c888 {
  color: #888;
}

.c999 {
  color: #999;
}

/*
    FONT SIZES
    It will generate .s10 { font-size: 12px; } from '12'
*/
.s10 {
  font-size: 10px;
}

.s12 {
  font-size: 12px;
}

.s14 {
  font-size: 14px;
}

.s16 {
  font-size: 16px;
}

.s18 {
  font-size: 18px;
}

.s20 {
  font-size: 20px;
}

.s22 {
  font-size: 22px;
}

.s24 {
  font-size: 24px;
}

.s26 {
  font-size: 26px;
}

.s28 {
  font-size: 28px;
}

.s30 {
  font-size: 30px;
}

.s32 {
  font-size: 32px;
}

.s34 {
  font-size: 34px;
}

.s36 {
  font-size: 36px;
}

.s38 {
  font-size: 38px;
}

.s40 {
  font-size: 40px;
}

.s42 {
  font-size: 42px;
}

.s44 {
  font-size: 44px;
}

.s46 {
  font-size: 46px;
}

.s48 {
  font-size: 48px;
}

.s50 {
  font-size: 50px;
}

.s52 {
  font-size: 52px;
}

.s54 {
  font-size: 54px;
}

.s56 {
  font-size: 56px;
}

.s58 {
  font-size: 58px;
}

.s60 {
  font-size: 60px;
}

.s62 {
  font-size: 62px;
}

.s64 {
  font-size: 64px;
}

.s66 {
  font-size: 66px;
}

.s68 {
  font-size: 68px;
}

.s70 {
  font-size: 70px;
}

.s72 {
  font-size: 72px;
}

.s100 {
  font-size: 100px;
}

/*
    BoldSize
    It will generate .b400 { font-weight: 400; } from '400'
*/
.b, .bold {
  font-weight: bold;
}

.b100 {
  font-weight: 100;
}

.b200 {
  font-weight: 200;
}

.b300 {
  font-weight: 300;
}

.b400 {
  font-weight: 400;
}

.b500 {
  font-weight: 500;
}

.b600 {
  font-weight: 600;
}

.b700 {
  font-weight: 700;
}

.b800 {
  font-weight: 800;
}

.b900 {
  font-weight: 900;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.wordwrap{
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 99%;
}

.button {
  background: var(--primary-color);
  color: #fff;
  border: 0px;
}

.zuz-toast {
  border-radius: 5px;
  transition: all 0.15s linear 0s;
}
.zuz-toast.hidden {
  transform: translate(-50%, -300px) scale(0.5) !important;
}
.zuz-toast.showing {
  transform: translate(-50%, -50px) scale(0.9) !important;
}
.zuz-toast.visible {
  transform: translate(-50%, 0px) scale(1) !important;
}

.zuz-checkbox {
  opacity: 0;
  position: absolute;
}
.zuz-checkbox + label {
  position: relative;
  display: inline-block;
  user-select: none;
  transition: 0.4s ease;
  height: 26px;
  width: 44px;
  border-radius: 60px;
  background: #eee;
}
.zuz-checkbox + label:before {
  content: "";
  position: absolute;
  display: block;
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  height: 26px;
  width: 44px;
  top: 0;
  left: 0;
  border-radius: 30px;
}
.zuz-checkbox + label:after {
  content: "";
  position: absolute;
  display: block;
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  background: #fff;
  height: 22px;
  width: 22px;
  top: 2px;
  left: 2px;
  border-radius: 60px;
}
.zuz-checkbox:checked + label:before {
  background: green;
  transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
}
.zuz-checkbox:checked + label:after {
  left: 20px;
}

.zuz-contextmenu {
  width: 220px;
  border-radius: 5px;
  padding: 4px;
  background: rgba(34, 34, 34, 0.5);
  border: 1px rgba(255, 255, 255, 0.25) solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
}
.zuz-contextmenu button {
  border: 0px;
  text-align: left;
  padding: 4px 6px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
}
.zuz-contextmenu button:hover {
  background: #5183ff;
}
.zuz-contextmenu .line {
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
  margin: 4px 6px;
}


.toast{
  top: 10px;
  left: 50%;    
  transform: translate(-50%, -105vh);
  opacity: 0;
  z-index: 2147483647;
  transition: all 0.25s linear 0s;
}
.toast:before{
  /* content: ''; */
  position: absolute;
  top: 0px;
  left: -10px;
  bottom: 0px;
  right: 0px;
  border-radius: 3px;
  z-index: -1;
}
.toast.toast-error:before{
background: #bd292a;
}
.toast.toast-ok:before{
background: #29bd50;
}
.toast.toast-warn:before{
background: #f7bd1c;
} 
.toast button{
border: 0px;
line-height: 1;
padding: 6px 5px 6px 20px;
border-left: 1px rgb(64, 64, 64) solid;
color: #fff;
border-radius: 2px;
margin-left: 20px;
background: rgba(0, 0, 0, 0);
}
.toast button:hover{
opacity: 0.95;
}
.toast.visible{
  transform: translate(-50%, 0px);
  opacity: 1;        
}
.toast.hidden{
transform: translateX(500px);
}
.toast .bg{
  color: #fff;    
  flex-direction: row;
  align-items: center;
  z-index: 1;
  background: #222;
  padding: 8px 12px;
  border-radius: 10px;
  transform: translate(0px, -250px);
  opacity: 0;
  transition: all 0.2s linear 0s;
}
.toast.error .bg{
  background: #d14646;
}
.toast.success .bg{
  background: #1daf82;
}
.toast .bg.bgv{
  opacity: 1;
  transform: translate(0px, 0px);
}
.blur{
  filter: blur(3px) saturate(0.5);  
}
.dialogbox{
  z-index: 2147483547;
  background: rgba(99,114,130,0.5);
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  transition: all 0.15s linear 0s;
  perspective: 500px;
  perspective-origin: 50% 50%;
}
.dialogbox.visible{
  opacity: 1;
  perspective: 1000px;
}
.dialogbox.blur{
  filter: blur(3px);
}
.dialogbox.blur.msgbox{
  transform: translate(-50%, -60%) scale(0.9);
}
.dialogbox .msgbox-wrap{
  transform: rotateX(50deg) translate3d(0px, -320px, -120px);
  transition: all 0.4s linear 0s;
}
.dialogbox .msgbox-wrap.visible{
  transform: rotateX(0deg) translate3d(0px, 0px, 0px);
}
.dialogbox .msgbox{
  background: rgb(255, 255, 255);
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 650px;
  min-width: 450px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: var(--radius);
  transition: all 1s linear 0s;
}
.dialogbox .msgbox .cover{
  z-index: 2;
  border-radius: var(--radius);
  display: none;
  background: var(--primary);
  z-index: 1;
  padding-top: 30%;
}
.dialogbox .msgbox .cover svg{height: 40px;}
.dialogbox .msgbox.visible{
  
}
.dialogbox .msgbox.shake{
animation: Shake;
animation-duration: 0.3s;
}
.dialogbox .msgbox .msgbox-head{
padding: 15px 20px 5px 20px;
}
.dialogbox .msgbox .msgbox-head .cross{
  border: 0px;
  font-size: 30px;
  top: 13px;
  right: 15px;
  width: 26px;
  height: 26px;
  border-radius: 8px;
  padding: 0px 4px;
  line-height: 0;
  background: #fff;
  color: #777;
}
.dialogbox .msgbox .msgbox-head .cross:hover{
  background: #eee;
}
.dialogbox .msgbox .msgbox-content{
padding: 20px;
}
.dialogbox .msgbox .msgbox-content .input{
padding: 8px 10px;
width: 100%;
}
.dialogbox .msgbox .msgbox-content .lbl{
margin-bottom: 5px;
}
.dialogbox .msgbox .msgbox-footer{
  
}
.dialogbox .msgbox .msgbox-footer .msgbox-footer-btns{
  flex: 1;
  border-top: 1px #ddd solid;
}
.dialogbox .msgbox .msgbox-footer .msgbox-footer-btns .button{
  padding: 10px 12px;
  flex: 1;
  color: #111;
}
.dialogbox .msgbox .msgbox-footer .msgbox-footer-btns .button:hover{
  background: #f7f7f7;
}
.dialogbox .msgbox .msgbox-footer .msgbox-footer-btns button:first-child{
  border-radius: 0px 0px 0px var(--radius);
}
.dialogbox .msgbox .msgbox-footer .msgbox-footer-btns button:last-child{
  border-radius: 0px 0px var(--radius) 0px;
  border-left: 1px #ddd solid;
  background: #fff;
}
.dialogbox .msgbox .msgbox-footer .msgbox-footer-btns .msgbox-close{
  background: #fff;
  transition: all 0.1s linear 0s;
  border-left: 0px !important;
}


.choosen{}
.choosen button{
    background: #3b4851;
    border: 0px;
    box-shadow: inherit;
    color: #fff;
    padding: 2px 8px;
    border-radius: var(--radius);
    gap: 5px;
    height: 20px;
}
.choosen button h1{ flex: 1; text-align: left; }
.choosen ul{
    background: #2d3840;
    display: none;
    top: 22px;
    right: 0px;
    border-radius: 5px;
    padding: 2px 0px;
    z-index: 99;
    width: 100%;
}
.choosen ul li{
    padding: 5px 12px;
    margin: 1px;
    white-space: pre;
    cursor: pointer;
    user-select: none;
    color: #eee;
}
.choosen ul li:hover{
    background: #263139;
}

/* CHECKBOX */
.checkbox [type="checkbox"]{ display: none; }
.checkbox .-slide{
  width: 40px;
  height: 24px;
  border-radius: 30px;
  background-color: #dadada;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  z-index: 1;
  position: relative;
}
.checkbox .-slide:after{
  content: '';
  width: 22px;
  height: 22px;
  position: absolute;
  left: 1px;
  top: 1px;
  background: #fff;
  border-radius: 40px;
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
}
.checkbox input:checked + .-slide{
  box-shadow: inset 0px 0px 0px 20px #30bc30;
}
.checkbox input:checked + .-slide:after{
  transform: translateX(16px);
}